@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box !important;
}

body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
}

input,
button {
    color: #222;
    font-size: 14px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    color: #ffff;
   height: 60px;
}