@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

/* header */

img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
}

.logo {
    display: flex;
    color: #ffff;
}

.nav-container {
    height: 80px;
    border-bottom: 1px solid gray;
}

.container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.container-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container-logo img {
    width: 60px;
    margin-right: 4px;
}

.container-logo p {
    font-size: 54px;
    color: #ffff;
    font-weight: 700;
}

.main-login-container {
    min-height: calc(100vh - 160px);
}

.container-form {
    width: 600px;
    border-radius: 5px;
    background-color: #424242;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffff;
    font-weight: lighter;
    margin-top: 130px;
    gap: 18px;
    font-size: 16px;
}

.container-form span {
    text-align: center;
    margin-top: 32px;
}

.container-form input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #212121;
    color: white;
}

.container-form button {
    width: 100%;
    background-color: #512da8;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: #ffff;
}

.container-form span a {
    color: #007BFF;
    font-weight: 700;
    text-decoration: none;
    margin-left: 4px;
}

.container-form a:hover {
    color: #2870bd;
    transition: 0.3s;
}

.container-form button a:hover  {
    color: #ffff;
}


.container-form button:hover {
    background-color: #5a32b8;
    transition: 0.5s;
}

@media screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .container-logo p {
        font-size: 32px;
    }
    .container-form {
        margin-top: -12px;
        width: 280px;
    }
    .container-form p {
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .container-logo {
        padding: 20px;
    }
    .container-logo p {
        font-size: 32px;
    }
    .container-form {
        margin-top: -12px;
        width: 280px;
    }
    .container-form p {
        margin-top: -20px;
        font-size: 20px;
    }
    .container-form label {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .container-form label {
        font-size: 20px;
    }
    .container-form p {
        font-size: 24px;
    }
    footer {
        font-size: 24px;
    }
}