img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
}

h1 {
    color: white;
}

li {
    list-style: none;
}

input {
    margin-right: 16px;
}

p,
label,
li,
strong {
    color: white;
}

.accordion-body {
    background-color: #212121;
}