main {
    margin: auto;
}

section.description {
    margin-top: 160px;
}

section {
    margin-top: 160px;
}

main p {
    font-size: 20px;
}

img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
}

h1 {
    color: white;
}

.container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.container-description p {
    color: white;
}

button {
    width: 30%;
    font-size: 18px;
    background-color: #512da8;
    border: none;
    border-radius: 2px;
    padding: 12px;
    color: #ffff;
}

button:hover {
    background-color: #633BBC;
}

button a:hover {
    color: #ffff;
}

span a {
    color: #007bff;
}

span a:hover {
    color: #633BBC;
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.btn {
    background: #512da8;
    border: none;
}

.btn:hover {
    background-color: #633BBC;
}

.card-body li {
    /* background-color: #363636; */
    list-style: none;
    ;
}

.card-body i {
    padding-right: 10px;
}