/* header */

.main-container {
    height: 900px;
}

nav img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
}

.logo {
    display: flex;
    color: #007BFF
}

img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
    transition: 0.5s;
}

h1 {
    color: white;
}

input[type="file"]{

    background-color: #007BFF;
    color: #ffff;
}

 label {
    width: 200px;
    color: #ffff;
    font-size: 18px;;
}

form label i {
    margin-right: 5px;
}

button {
    width: 100px;
    background-color: #007BFF;
    border: none;
    border-radius: 2px;
    padding: 5px;
    color: #ffff;
    font-size: 18px;
}

.container-file {
    display: flex;
}

li {
    list-style: none;
}

input {
    margin-right: 16px;
}

p,
li,
strong {
    color: white;
    font-weight: 400;
}

strong {
    font-size: 20px;
}

.accordion-item {
    background-color: #212121;
    margin-top: 20px;
    font-size: 18px;
}

.accordion-item i {
    margin-right: 12px;
}




.accordion-button {
    background-color: #512da8;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.accordion-button:not(.collapsed) {
    background-color: #512da8;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.export {
    width: 96%;
    display: flex;
    justify-content: flex-end;
}

.export button {
    width: 120px;
    background-color: #007bff;
    border: none;
    border-radius: 2px;
    padding: 6px;
    color: #ffff;
    font-size: 18px;
    margin-top: 40px;
}

.export i {
    margin-right: 5px;
}