main {
    margin: auto;
}

section.description {
    margin-top: 160px;
}

section {
    margin-top: 160px;
}

main p {
    font-size: 20px;
}

img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
    transition: 0.5s;
}

h1 {
    color: white;
}

.container-description {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-description p {
    color: #e1e1e6;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
}

.container-description .information h1 {
    font-size: 56px;
    font-weight: 700;
}

button {
    width: 30%;
    font-size: 18px;
    background-color: #512da8;
    border: none;
    border-radius: 2px;
    padding: 12px;
    color: #ffff;
}

button:hover {
    background-color: #633BBC;
}

button a:hover {
    color: #ffff;
}

span a {
    color: #007bff;
}

span a:hover {
    color: #2870bd;
    transition: 0.3s;
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.btn {
    background: #512da8;
    border: none;
    font-size: 18px;
}

.btn:hover {
    background-color: #633BBC;
}

.card-body h5 {
    font-size: 20px;
}

.card-body li {
    list-style: none;
    font-size: 18px;
}

.card-body i {
    padding-right: 10px;
    font-size: 24px;
    color: #007bff;
}



@media screen and (max-width: 400px) {
    .container-description .information h1 {
        font-size: 24px;
        text-align: center;
    }

    .container-description .information p {
        font-size: 14px;
    }

    .container-description span p {
        font-size: 14px;
    }

    .card-body h5{
        font-size: 18px;
    }
    .card-body a {
        font-size: 14px;
    }
    .card-body p,i {
        font-size: 14px;
    }

    .card-body ul li {
        font-size: 12px;
    }
    .container-cards {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container-description .information h1 {
        font-size: 18px;
        text-align: center;
    }

    .container-description .information p {
        font-size: 14px;
    }

    .container-description span p {
        font-size: 14px;
    }

    .card-body h5{
        font-size: 18px;
    }
    .card-body a {
        font-size: 14px;
    }
    .card-body p,i {
        font-size: 14px;
    }

    .card-body ul li {
        font-size: 12px;
    }
    .container-cards {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .information h1 {
        font-size: 16px;
        text-align: center;
    }

    .container-description .information p {
        font-size: 14px;
    }
    
    .container-description span p {
        font-size: 14px;
    }
    .card-body h5{
        font-size: 18px;
    }
    .card-body a {
        font-size: 14px;
    }
    .card-body p,i {
        font-size: 14px;
    }

    .card-body ul li {
        font-size: 12px;
    }
    .container-cards {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}