nav img {
    width: 40px;
}

hr {
    color: white;
}

.d-flex a:hover {
    color: gray;
}

.logo {
    display: flex;
    color: #007bff;
}

.container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.main-register-container {
    min-height: calc(100vh - 160px);
}

input::-webkit-input-placeholder {
    font-size: 14px;
}

.logo {
    display: flex;
    color: #007bff;
}

.container-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 40px;
}

.container-logo img {
    width: 60px;
    margin-right: 4px;
}

.container-logo h3 {
    font-size: 16px;
    color: #ffff;
}

.container-logo h2 {
    color: #ffff;
}

.container-form {
    width: 600px;
    background-color: #424242;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: lighter;
    margin-top: 130px;
    gap: 16px;
}

.container-form input {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    border: none;
    background-color: #212121;
    color: #ffff;
}

.container-form .input {
    width: 100%;
}

.container-form button {
    width: 100%;
    background-color: #512da8;
    border: none;
    border-radius: 2px;
    padding: 8px;
    color: #ffff;
}

button {
    width: 80%;
    font-size: 18px;
    background-color: #007bff;
    border: none;
    border-radius: 2px;
    padding: 12px;
    gap: 10px;
    color: #ffff;
    margin-top: 20px;
}

button:hover {
    background-color: #227ad8;
}

button a:hover {
    color: #ffff;
}

@media screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        background-color: red;
    }
    .container-logo h2 {
        font-size: 24px;
    }
    .container-logo h3 {
        font-size: 16px;
    }
    .container-form {
        margin-top: -12px;
        width: 280px;
    }
    .container-form p {
        margin-top: -20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .container-logo {
        padding: 20px;
    }
    .container-logo h2 {
        font-size: 24px;
    }
    .container-logo h3 {
        font-size: 16px;
    }
    .container-form {
        margin-top: -12px;
        width: 280px;
    }
    .container-form p {
        margin-top: -20px;
        font-size: 20px;
    }
    .container-form label {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .container-form p {
        font-size: 24px;
    }
    footer {
        font-size: 24px;
    }
}