@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.container-form {
    width: 400px;
    margin: auto;
    background-color: #424242;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    color: #ffff;
    margin-top: 200px;
}


.container-form input{
    width: 90%;
    height: 32px;
    border-radius: 2px;
    border: none;
    background-color: #212121;
    margin-top: 14px;
}

.container-form label {
    margin-top: 8px;
}


.container-form button {
    width: 90%;
    margin-top: 12px;
    background-color:#512da8 ;
    border: none;
    border-radius: 2px;
    height: 32px;
    color: #ffff;
}




